---

import { getCollection } from "astro:content";

export async function getStaticPaths() {

    const enPosts = await getCollection('posts', ({id}) => {
        return id.includes('en/');
    });

    return enPosts.map(post => {
        return {
            params: { slug: post.slug }, 
            props: { post }
        };
    });

};

const { post } = Astro.props;
const { Content } = await post.render();
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{post.title}</title>
	</head>
	<body>
        <h1>{post.data.title}</h1>
        <Content />
    </body>
</html>