---
import { getCollection } from "astro:content";

export async function getStaticPaths() {

    const enPosts = await getCollection('posts', ({id}) => id.includes('ar/'));

    return enPosts.map(post => ({
        params: { slug: post.slug },
        props: { post }
    }));

};

const { post } = Astro.props;
const { Content } = await post.render();
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{post.title}</title>
	</head>
	<body>
        <nav>
            <ul>
				<li>
					<a href="/ar">ابدأ</a>
				</li>
				<li>
					<a href="/ar/posts/all/1">مقالات</a>
				</li>
				<li>
					<a href="/ar/about">عنا</a>
				</li>
				<li>
                    <a href="/">En</a>
                </li>
            </ul>
        </nav>
        <h1>{post.data.title}</h1>
        <Content />
    </body>
</html>