---
import { getCollection } from "astro:content";

//layout
import Main from "../../../../layout/Main.astro";
import Nav from "../../../../layout/Nav.astro";

export async function getStaticPaths({ paginate }) {

    const cats = ['cat-1', 'cat-2', 'cat-3', 'cat-4', 'all'];

    const paginatedCats = cats.map( async (cat) => {

        if(cat === 'all') {

            const enPostsAll = await getCollection('posts', post => post.id.includes('ar/'));

            return paginate( enPostsAll, { pageSize: 5, params: { cat }, props: { cats, currentCat: cat } });    

        }

        const enPostsByCat = await getCollection('posts', post => {

            return post.id.includes('ar/') && (post.data.cat === cat);

        });

        return paginate( enPostsByCat, { pageSize: 5, params: { cat }, props: { cats, currentCat: cat } });

    });

    return await Promise.all(paginatedCats);

};

const { page, cats, currentCat } = Astro.props;
---
<Main title={currentCat}>

    <Nav lang="ar" />

    <ul>
        {
            cats.map(cat => {
                return <li>
                    <a href={ `/ar/posts/${cat}/1` }>{ cat }</a>
                </li>
            })
        }
    </ul>

    <ul>
        {
            page.data.map(post => {
                return <li>
                    <a href={ `${post.slug}` }>{ post.data.title }</a>
                </li>
            })
        }
    </ul>

    <ul>
        {
            Array( Math.ceil(page.total / 5) ).fill(undefined).map( (_, index) => {
                return <li>
                    <a href={`/ar/posts/${currentCat}/${index + 1}`}>{ index + 1 }</a>
                </li>
            })
        }
    </ul>
    
</Main>