---

// layout
import Main from "../layout/Main.astro";
import Nav from "../layout/Nav.astro";

// components
import PageMainHeader from "../components/PageMainHeader.astro";

---
<Main id="about" title="about">

	<Nav lang="en" />

	<PageMainHeader>
		about
	</PageMainHeader>
	
</Main>
