---

// layout
import Main from "../layout/Main.astro";

// components
import PageMainHeader from "../components/PageMainHeader.astro";

---
<Main id="about" title="about" lang="en">

	<PageMainHeader>
		about
	</PageMainHeader>
	
</Main>
