---

// layout
import Main from "../layout/Main.astro";

// components
import PageMainHeader from "../components/PageMainHeader.astro";

---
<Main id="home" title="welcome" lang="en">

	<PageMainHeader>
		welcome
	</PageMainHeader>
	
</Main>

