---
import { getCollection } from "astro:content";

//layout
import Main from "../../../layout/Main.astro";
import Nav from "../../../layout/Nav.astro";

export async function getStaticPaths() {

    const enPosts = await getCollection('posts', ({id}) => id.includes('en/'));

    return enPosts.map(post => ({
        params: { slug: post.slug, cat: post.data.cat }, 
        props: { post }
    }));

};

const { post } = Astro.props;
const { Content } = await post.render();
---
<Main id="posts" title={post.slug}>

    <Nav lang="en" />

    <h1>{post.data.title}</h1>

    <Content />
    
</Main>