---

import IconClose from "../assets/icon-close.astro";

---
<template x-teleport="body">
    <div id="main-modal" 
        class="bg-[#000000e6]
        absolute inset-0 
        w-full h-full
        z-50"
        x-show="open"
        x-transition
    >
        <div id="main-modal_layout"
            class="flex flex-col 
            h-full w-full max-h-full 
            max-w-screen-md mx-auto"
        >

            <div id="modal-header" class="grow-0 p-4">
                
                <div id="modal-header_layout" class="flex justify-end">
                    
                    <div id="close-btn" class="max-w-mcb cursor-pointer" @click="open = !open">
                        <IconClose />
                    </div>

                </div>

            </div>

            <div id="modal-content" class="grow p-4 overflow-hidden">
                <slot></slot>
            </div>

        </div>
    </div>
</template>