---

const { currentCat, cats } = Astro.props;

---
<script>

    const catLinksItem = document.querySelectorAll('.cat-links-item');
    const catLinksList = document.querySelector('#cat-links-list');
    
    catLinksItem.forEach( item => {

        if(catLinksList.getAttribute('data-selected-cat') === item.getAttribute('data-slug')) {
            item.classList.add('active-link');
        }

    });

</script>
<style lang="scss">
    ul {

        li {
            @include withRtl('margin', 0 1rem 0 0, 0 0 0 1rem);
        }
    }
</style>
<ul class="flex mt-8" id="cat-links-list" data-selected-cat={currentCat.slug}>
    {
        cats.map(cat => {
            return <li class="cat-links-item text-cd-xs font-ssp" data-slug={cat.slug}>
                <a href={ cat.url }>{ cat.name }</a>
            </li>
        })
    }
</ul>