---

// layout
import Main from "../../layout/Main.astro";

// components
import PageMainHeader from "../../components/PageMainHeader.astro";

---
<Main id="about" title="عنا" lang="ar">

	<PageMainHeader>
		عنا
	</PageMainHeader>
	
</Main>
